<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.zohaltech.app.sigma"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!--<uses-permission android:name="android.permission.WAKE_LOCK"/>-->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <uses-permission android:name="com.farsitel.bazaar.permission.PAY_THROUGH_BAZAAR"/>
    <!--<uses-permission android:name="ir.mservices.market.BILLING" />-->

    <application
        android:name=".classes.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name_launcher"
        android:theme="@style/AppTheme">

        <receiver
            android:name=".classes.AlarmReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="999">
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name=".classes.BootReceiver"
            android:enabled="true">
            <intent-filter android:priority="999">
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.QUICKBOOT_POWERON"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name=".classes.ConnectivityStateReceiver">
            <intent-filter android:priority="999">
                <action android:name="android.net.wifi.STATE_CHANGE"/>
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name=".classes.PackageAlarmReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="APPLICATION_ALARM_ACTION"/>
            </intent-filter>
        </receiver>

        <service
            android:name=".classes.SigmaDataService"
            android:enabled="true"
            android:exported="false"
            android:process=":data_usage"/>
        <!--<service-->
            <!--android:name=".classes.SigmaAppsService"-->
            <!--android:enabled="true"-->
            <!--android:exported="false"-->
            <!--android:process=":data_usage"/>-->

        <activity
            android:name=".activities.DashboardActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.HistoryActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.GlobalSettingsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.AboutActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.PackagesActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.ReportActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.PackageSettingsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.ManagementActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.IntroductionActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.AppsTrafficReportActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.ApplicationAlarmActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.Dialog"/>
    </application>
</manifest>
